.tile {
  background: #eff1fa;
  margin: 2px 0;
  cursor: pointer;
}

.tile:hover {
  background: #c9cfee;
}

.tile-icon {
  width: 35px;
  height: 35px;
  padding-top: 7px;
  text-align: center;
  margin: 0;
  margin-left: 3px;
  background: #5764c6;
  color: #fff;
}

.card {
  margin: 2px 0;
}

.card-actions {
  float: right;
}

article {
  padding: 0 10px;
}

main {
  margin-top: 50px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 , h6{
  font-size: 1.1em;
}

h6 {
  font-style: italic;
}

header {
  width: 100%;
  padding: 8px;
  position: fixed;
  top: 0;
  background: #eff1fa;
}

.searchbar {
  width: 100%;
}

footer {
  text-align: center;
  margin: auto;
  height: 20px;
  font-size: 80%;
}

.main-content, .CodeMirror {
  height: calc(100vh - 160px);
  overflow-y: scroll;
}

.subtitle {
  color: #bbc1cd;
  margin-left: -10px;
}

@media only screen and (max-width : 480px) {
  .main-content, .CodeMirror {
    height: calc(100vh - 190px);
  }
  .actionbar {
    height: 100px;
  }
}

.actions {
  justify-content: flex-end;
}

.btn.action {
  max-width: 80px;
}

#note-title {
  width: 100%;
}

#notification {
  visibility: hidden; 
  min-width: 250px; 
  margin-left: -125px; 
  position: fixed; 
  z-index: 1;
  left: 50%;
  width: auto;
  top: 35px;
}

#notification.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
  animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 35px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 35px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 35px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 35px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

.loading-message {
  margin: auto;
  text-align: center;
}

.note {
  margin: 0 2rem;
}

#note-title {
  color: #50596c;
  border: none;
  font-weight: 300;
}

.note p,
.note ul,
.note ol,
.note pre,
.note table,
.note img,
.note div,
.note section,
.note blockquote {
  margin: 0 4rem;
}

.note pre > code {
  width: 100%;
  white-space: pre-wrap;
}

.note code {
  color: #727e96;
  background: #f8f9fa;
}

.note ul,
.note ol {
  margin: 0.5rem 0 0.5rem 7rem;
}

.note ol li,
.note ul li {
  margin-top: 0.2rem;
  list-style-position: outside;
}